<!-- <link rel="stylesheet" href="view2/view2.css"> -->
<style>
  h1 {

    margin: 10px auto;
  }

  p {
    margin: 10px auto;
  }

  a {

    text-decoration: none;
    color: black;
  }
</style>

<md-toolbar>
  <h1 class="md-display-3">{{text}}</h1>
</md-toolbar>

<!-- <div class="container" layout="row" flex>

  <md-sidenav md-is-locked-open="true" class="md-whiteframe-10dp">

    <md-list>

      <md-list-item>
        <md-button><a href="#!/view1">Strona główna</a> </md-button>

      </md-list-item>

      <md-list-item>

        <md-button><a href="#!/view2">Losowy fakt</a></md-button>

      </md-list-item>

      <md-list-item>

        <md-button><a href="#!/players">Dodaj zawodnika</a></md-button>

      </md-list-item>

      <md-list-item>

        <md-button><a href="#!/list">Lista zawodników</a></md-button>

      </md-list-item>

    </md-list>

  </md-sidenav>
 -->

<md-fab-toolbar md-open="false" md-direction="left">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-fab md-primary">
      <!-- <md-icon md-svg-src="view2/menu.svg"></md-icon> -->
      <!-- <md-icon md-svg-src="../svgs/menu.svg"></md-icon> -->
      <md-icon md-svg-src="{{menu}}""></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button aria-label="comment" class="md-icon-button">
        <!-- <md-icon md-svg-src="view2/menu.svg"></md-icon> -->
        <!-- <md-icon md-svg-src="../svgs/menu.svg"></md-icon> -->
        <md-icon md-svg-src="{{menu}}""></md-icon>
      </md-button>
      <md-button aria-label="label" class="md-icon-button">
        <!-- <md-icon md-svg-src="../svgs/info.svg"></md-icon> -->
        <md-icon md-svg-src="{{info}}"></md-icon>
      </md-button>
      <md-button aria-label="photo" class="md-icon-button">
        <!-- <md-icon md-svg-src="../svgs/info.svg"></md-icon> -->
        <md-icon md-svg-src="{{info}}"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>

<md-content layout-padding>

  <p>{{data}}</p>

</md-content>

<!-- do testowania elementu md-autocomplete -->

<!-- <form ng-submit="$event.preventDefault">

  <label>Favourite club</label>

  <md-autocomplete md-items="item in matching" md-search-text="searchedClub" md-search-text-change="showChosen()">

  <span>{{item}}</span>

</form> -->

<!-- <input local-forage="{key: 'autoStoredKey', name: 'myApp', scopeKey: 'myObj.myVar', defaultValue: 'this is the default value'}" ng-model="myObj.myVar" placeholder="This will be auto stored" ng-change="funkcja()">

<button ng-click="dodaj()">Dodaj</button>
<button ng-click="pobierz()">Pobierz</button>
<span>{{zmiennaPobrana}}</span>
<button ng-click="usun()">Usuń</button> -->




</div>