<!-- nie podawaj folderu app w ścieżce -->
<!-- <link rel="stylesheet" href="players/players.css"> -->

<style>
    input {

        /* width: 35%; */
        margin: 0 auto;
    }

    h1 {
        margin: 10px auto;
    }

    h1+p {

        margin: 10px auto;
    }

    span.property {

        display: inline-block;
        width: 75px;
    }

    form {

        /* margin: 0 auto; */
        text-align: center;
    }

    .send {

        cursor: pointer;
    }

    div.playerForm {

        margin: 0 auto;
        width: 30%;
    }

    .narrow {

        max-width: 15%;
        margin: 10px auto;
    }

    .md-button.narrow {

        border-radius: 10px 10px 10px 10px;
    }

    .md-datepicker-calendar-icon {

        margin: 0px;
    }

    .textinput {

        width: 100%;
    }

    input[type="file"] {

        display: none;
    }

    .fileUpload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        margin: 20px;
    }

    #container{
        margin: 10px 0;
    }

    /* button.md-datepicker-button{

        
       
    } */

    /* #canvas{

        display: none;
    } */
</style>

<md-toolbar>
    <h1 class="md-display-3 titletext">Dodaj zawodnika</h1>
</md-toolbar>


<p style="text-align: center;">{{text}}</p>

<!-- <input type="text" placeholder="Wpisz nazwisko..." ng-model="searchedPlayer"> -->

<form ng-submit="$event.preventDefault" style="width: 30%; margin: 0 auto;">

    <md-autocomplete md-items="item in matching" md-search-text="searchedPlayer" md-search-text-change="checkMatching()"
        md-input-minlength="2" md-selected-item="selectedItem" placeholder="Wpisz nazwisko..." md-clear-button="true">

        <span>{{item}}</span>

    </md-autocomplete>

</form>


<md-button class="narrow" ng-click="loadingBeforeSearch(searchedPlayer)" ng-disabled="!searchButtonActive">Szukaj!
</md-button>

<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="determinate" md-diameter="30" class="md-accent" value="{{loadingValue}}">
    </md-progress-circular>
</div>


<md-button class="narrow" ng-click="removeHint()">Kasuj podpowiedź</md-button>

<br>

<div class="playerForm">

    <form name="playerForm" ng-submit="itemToStorage(name, surname, age, value, img)">

        <span class="property">Imię:</span><br><input class="textinput" type="text" ng-model="name" ng-required="true"
            ng-minlength="2" name="playerName">

        <br>

        <span ng-show="playerForm.playerName.$dirty && playerForm.playerName.$error.required">Wypełnij
            pole</span>
        <span ng-show="playerForm.playerName.$error.minlength">Za krótki tekst!</span>

        <br> <br>

        <span class="property">Nazwisko:</span> <br> <input class="textinput" type="text" ng-model="surname"
            ng-required="true" ng-minlength="2" name="playerSurname">

        <br>

        <span ng-show="playerForm.playerSurname.$dirty && playerForm.playerSurname.$error.required">Wypełnij
            pole</span>
        <span ng-show="playerForm.playerSurname.$error.minlength">Za krótki wpis!</span>

        <br> <br>

        <span> Data urodzenia:</span>
        <md-datepicker ng-model="myDate" md-placeholder="Podaj datę" md-current-view="year" ng-change="calcAge()"
            ng-required="true">
        </md-datepicker>

        <span ng-show="showAgeWarning"> <br> Zbyt mała wartość!</span>
        <br> <br>

        <!-- <span class="property">Wartość:</span> <br> <input type="number" ng-model="value" ng-min="0"
            ng-required="true"><br><br> -->

        <md-slider-container>
            <span>Wartość</span>
            <md-slider min="0" max="250" ng-model="value" aria-label="value" id="value" ng-required="true">
            </md-slider>
            <md-input-container>
                <input type="number" ng-model="value" aria-label="value" aria-controls="value">
            </md-input-container>
        </md-slider-container>

        <label class="fileUpload">

            <input type="file" id="photo" accept="image/png, image/jpeg">
            Załaduj obrazek
        </label> <br>

        <button id="remove" type="button" class="fileUpload" ng-disabled="disableRemovalButton">Usuń obrazek</button> <br>


        <!-- <img id="container" src="" style="max-width: 60%"> -->
        <canvas id="canvas"></canvas>
        <br>

        <!-- <input class="send" type="submit" value="Wyślij/Zmień" ng-disabled="playerForm.$invalid || showAgeWarning"> -->

        <md-button class="md-raised" type="submit" ng-disabled="playerForm.$invalid || showAgeWarning"
            style="margin-bottom: 25px; width: 60%;">Wyślij/zmień
        </md-button>
    </form>

</div>