<!-- <link rel="stylesheet" href="view1/view1.css"> -->

<!-- <div class=wrapper layout="column"> -->

<style>
    h1 {
        margin: 10px auto;
    }

    a {

        text-decoration: none;
        color: black;
    }

    .red {

        color: red;
    }

    .bottommenu {

        width: 30%;
        margin: 0 auto;
    }

    .groupX {
        font-size: 16px;
        margin: 20px 0;
        padding: 3px 15px 3px 15px;
        color: rgb(49, 46, 46);
        background-color: rgba(224, 224, 224, 0.96);
        text-transform: none;
        font-weight: 400;
        min-width: 100px;

    }

    .md-button.middle {
        border-radius: 10px 10px 10px 10px;
        border-left: 1px solid rgba(230, 230, 230, 0.96);
        border-right: 1px solid rgba(230, 230, 230, 0.96);
    }

    .md-button:not([disabled]):hover {
        background-color: rgba(193, 193, 193, 0.96);
        /* color: rgba(44, 65, 164, 0.96); */
        color: #E91E63;
        transition: 0.3s;
    }
</style>


<md-toolbar>
    <h1 class="md-display-3">Strona główna</h1>
</md-toolbar>

<div class="container" layout="column" flex style="overflow: hidden;">

    <!-- <p ng-class="{red: zmienna}">dddd</p>

    <input ng-model="zmienna" type="checkbox"> -->

    <h2 class="md-title" style="text-align: center;">Treść</h2>

    <md-content flex layout-padding style="text-align: justify;">

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati qui, dolore voluptate similique
            aspernatur culpa consectetur inventore quis esse, hic nulla. Labore unde, animi suscipit adipisci itaque
            reprehenderit rem eligendi dolorum sunt, consectetur eaque! Porro ullam sed, error rem quos facilis eaque
            minus doloribus voluptates in nihil autem numquam ea? Voluptatem nihil adipisci voluptate blanditiis
            voluptatibus, vitae sed perferendis dignissimos alias, quisquam eius aliquam. Necessitatibus soluta
            reiciendis ab numquam expedita fuga officia sapiente natus, eius sint at, quibusdam temporibus voluptatibus
            aut. Tempora non, placeat nostrum hic excepturi eos deserunt, sapiente libero unde itaque ducimus illo dolor
            commodi. Ducimus, numquam? Suscipit dolore eveniet quidem fuga porro provident, labore maxime nostrum
            voluptatum veniam impedit natus dolores, pariatur nobis? Voluptate vitae voluptatem sapiente delectus dolore
            debitis voluptatum asperiores id. Dolorem voluptates voluptas itaque, dignissimos doloribus deleniti
            quisquam error praesentium saepe, minus provident vitae quam ratione asperiores corporis assumenda? Eveniet
            dolorum quia molestiae neque tempora consectetur sapiente dolore quae iste eum laborum voluptates nobis,
            consequatur architecto unde? Iure ipsam exercitationem tempora a natus sapiente, voluptatibus provident,
            blanditiis dolorum animi cupiditate necessitatibus iste cum reiciendis fugit nihil doloremque commodi
            dolorem eum distinctio ad incidunt vel velit! Quos rerum sed, dolore, aliquid cupiditate adipisci veniam,
            suscipit deleniti possimus voluptate minus velit alias totam! Nobis laboriosam quae porro totam animi
            ratione asperiores, reprehenderit corrupti doloribus iusto quasi voluptates aliquam alias fuga magnam nam
            vel, distinctio tempora omnis architecto laborum cumque rem. Officiis voluptates tempore, est harum culpa
            sapiente. Voluptatem, eligendi dignissimos, laboriosam, odio corrupti quis et nobis ratione quas molestiae
            non. Praesentium eum dolorum tenetur vel nemo numquam quae sint dignissimos. A, necessitatibus repudiandae,
            optio inventore id deserunt illum dolore non architecto nulla provident. Ipsam, maxime iusto. Expedita sequi
            sint repudiandae autem. Tempora, at voluptates eaque magni rem omnis iste necessitatibus, rerum officia esse
            amet alias quaerat.</p>

    </md-content>

</div>
<!-- <div flex layout="row" layout-align="center center"
    style="position: absolute; bottom: 30px; left:50%; transform: translate(-50%, 0);">

    <md-button class="groupX middle" ng-click="showListBottomSheet()" style="margin: 0 auto; text-align: center;">Pokaż
        dolną zakładkę </md-button>

</div> -->

<!-- 
<h4 ng-click="showText()"> Wskaż datę</h4>
<md-datepicker ng-model="myDate" md-placeholder="Wprowadź datę" md-current-view="year" ng-change="showText()">
</md-datepicker> -->

<div flex layout="row" layout-align="center center" style=" margin-bottom: 30px;">

    <md-button class="groupX middle" ng-click="showListBottomSheet()" style="margin: 0 auto; text-align: center;">Pokaż
        dolną zakładkę </md-button>

</div>


<!-- <div class="container" layout="row" flex>

        <md-content id="content" flex>Content</md-content>

        <style>
           
        </style>

    </div> -->

<!-- </div> -->

<!-- <md-menu>
    <md-button aria-label="Menu rozwijane kliknięciem" class="md-icon-button"
        ng-click="openMenu($mdMenu, $event)">
        <md-icon md-menu-origin md-svg-icon="view1/share.svg"></md-icon>
    </md-button>
    <md-menu-content width="3">
        <md-menu-item>
            <md-button ng-click="">
                <md-icon md-svg-icon="view1/share.svg" md-menu-align-target></md-icon>
                Opcja 1
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button disabled="disabled" ng-click="">
                <md-icon md-svg-icon="view1/share.svg"></md-icon>
                Opcja 2
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
    </md-menu-content>
</md-menu> -->

<md-button class="bottommenu" ng-click="calcInMainThread()">Oblicz w głównym wątku</md-button> <md-button class="bottommenu" ng-click="calcInWebWorker()">Oblicz w web workerze</md-button>