<div layout="column" layout-align="center center">

    <h1>Okno 4 - podsumowanie</h1>
    <h2>Podane wartości:</h2>

    <p>{{finalSettings.userName}}</p>
    <p>{{finalSettings.userSurname}}</p>
    <p>{{finalSettings.userAge}}</p>
    <p>{{finalSettings.option1}}</p>
    <p>{{finalSettings.option2}}</p>
    <p>{{finalSettings.option3}}</p>





    <div layout="row">

        <md-button ng-click="prev()">Wstecz</md-button>
        <md-button ng-disabled="true">Dalej</md-button>
        <md-button ng-click="abort()">Anuluj</md-button>
        <md-button class="md-warn" ng-click="abort()">Zatwierdź</md-button>

    </div>

</div>