<div layout="column" layout-align="center center">

    <h1>Okno 4 - podsumowanie</h1>
    <h2>Podane wartości:</h2>

    <p>Imię: {{storedData.userName}}</p>
    <p>Nazwisko: {{storedData.userSurname}}</p>
    <p>Wiek: {{storedData.userAge}}</p>
    <p>Opcja 1: {{storedData.option1 | translateValue}}</p>
    <p>Opcja 2: {{storedData.option2 | translateValue}}</p>
    <p>Opcja 3: {{storedData.option3 | translateValue}}</p>

    <div layout="row">

        <md-button ng-click="prev()">Wstecz</md-button>
        <md-button ng-disabled="true">Dalej</md-button>
        <md-button ng-click="abort()">Anuluj</md-button>
        <md-button class="md-warn" ng-click="confirm()">Zatwierdź</md-button>

    </div>

</div>